<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test UI</title>
    
</head>
<body>
{% extends 'admin_base.html' %}

{% block title %}UI Test{% endblock %}

{% block content %}
<div class="content-wrapper">
  <section class="content pt-4">
    <div class="container-fluid">

      <div class="row">
        <div class="col-lg-4">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>TEST</h3>
              <p>AdminLTE is working</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>
{% endblock %}

</body>
</html>